{% extends "base.html" %}

{% block title %}
Transaksi
{% endblock %}

{% block content %}

<div class="card card-shadow">

    <div class="card-header d-flex justify-content-between align-items-center">

        <div class="d-flex gap-2">

    <a href="/transactions/export"
       class="btn btn-success">
        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
       📊 Export Excel

    </a>

</div>

        <a
            href="/transactions/create"
            class="btn btn-success position-fixed"
            style="
            right:30px;
            bottom:30px;
            width:60px;
            height:60px;
            border-radius:50%;
            font-size:24px;
            ">

            <i class="bi bi-plus-lg"></i>
            +

        </a>

    </div>

    <form
    action="/transactions"
    method="GET"
    class="row mb-3">

    <div class="col-md-4">

        <select
            name="person_id"
            class="form-select">

            <option value="">
                Semua Orang
            </option>

            {% for person in people %}

            <option
                value="{{ person[0] }}"
                {% if selected_person == person[0]|string %}
                selected
                {% endif %}
            >

                {{ person[1] }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="col-md-2">

        <button
            type="submit"
            class="btn btn-primary">

            Filter

        </button>

    </div>

</form>

    <div class="card-body">

        <table class="table table-hover">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Tanggal</th>
                    <th>Jenis</th>
                    <th>Kategori</th>
                    <th>Nominal</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                </tr>

            </thead>

            <tbody>

            {% for trx in transactions %}

            <tr>

                <td>{{ trx[0] }}</td>

                <td>{{ trx[1] }}</td>

                <td>{{ trx[2] }}</td>

                <td>

                    {% if trx[3] == 'masuk' %}

                    <span class="badge bg-success">
                        <i class="bi bi-arrow-up-right"></i>
                        Masuk
                    </span>

                    {% else %}

                    <span class="badge bg-danger">
                        <i class="bi bi-arrow-down-left"></i>
                        Keluar
                    </span>

                    {% endif %}

                </td>

                <td>{{ trx[4] }}</td>

                <td>

                    <strong>

                        {{ trx[5] | rupiah }}

                    </strong>

                </td>

                <td>{{ trx[6] }}</td>

                <td>

                    <a href="/transactions/edit/{{ trx[0] }}"
                       class="btn btn-warning btn-sm">

                        <i class="bi bi-pencil-fill"></i>
                        Edit

                    </a>

                    <a href="/transactions/delete/{{ trx[0] }}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Yakin ingin menghapus transaksi ini?')">

                        <i class="bi bi-trash-fill"></i>
                        Hapus

                    </a>

                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}